
@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaEtoile-Thin.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaEtoile-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaEtoile-ThinOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaEtoile-ThinItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaEtoile-ExtraLight.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaEtoile-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaEtoile-ExtraLightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaEtoile-ExtraLightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaEtoile-Light.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaEtoile-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaEtoile-LightOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaEtoile-LightItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaEtoile-Regular.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaEtoile-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaEtoile-Oblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaEtoile-Italic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaEtoile-Medium.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaEtoile-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaEtoile-MediumOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaEtoile-MediumItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaEtoile-SemiBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaEtoile-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaEtoile-SemiBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaEtoile-SemiBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaEtoile-Bold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaEtoile-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaEtoile-BoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaEtoile-BoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaEtoile-ExtraBold.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaEtoile-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaEtoile-ExtraBoldOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaEtoile-ExtraBoldItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-Unhinted/IosevkaEtoile-Heavy.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-Unhinted/IosevkaEtoile-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-Unhinted/IosevkaEtoile-HeavyOblique.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Etoile Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-Unhinted/IosevkaEtoile-HeavyItalic.woff2') format('woff2'), url('TTF-Unhinted/IosevkaEtoile-HeavyItalic.ttf') format('truetype');
}
